/* .bluetabs{
border-bottom: 1px solid #996600;
float:right;



} */

/* .bluetabs ul{
padding: 3px 0;
margin-right: 12px;
margin-top: 1px;
margin-bottom: 0;
font: bold 11px "Trebuchet MS";
list-style-type: none;
text-align: right; set to left, center, or right to align the menu as desired
} */

.bluetabs li{
display: inline;
margin: 0;
}

/* .bluetabs li a{
text-decoration: none;
padding: 3px 17px;
margin-right: 3px;
border: 1px solid #9c6a15;
color: #2d2b2b;
background: #ffcc00 url(media/bluetab.gif) top left repeat-x; THEME CHANGE HERE
}
 */
.bluetabs li a:visited{
color: #333;
}

.bluetabs li a:hover{
text-decoration: none;
/* color: #2d2b2b; */
color: #333;
/* background-color:#ffcc00; */
background-color:#D9CFD4;
}

#selected{
	
	background-color: #3c75b8;
	color:#FFF;
}





.bluetabs li.selected{
	 background-color: #3c75b8;
 color:#FFF;
}

.bluetabs li.selected a{ /*selected main tab style */
/* background-image: url(media/bluetabactive.gif); THEME CHANGE HERE */
border-bottom-color: white;
 background-color: #3c75b8;
 color:#FFF;
}

.bluetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
color:#FFF;
background-color: #3c75b8;

}

a:active{ /*selected main tab style */
text-decoration: none;
color:#FFF;
background-color: #FF0000;

}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv_b{
position:absolute;
top: 0;
/* border: 1px solid #918d8d; THEME CHANGE HERE */
border:1px solid #e5e5e5;
border-width: 0 1px;
font: normal 11px "Trebuchet MS";
line-height:18px;
z-index:100;
background-color: #e5e5e5;
width: 200px;
visibility: hidden;

}


.dropmenudiv_b a{
width: auto;
display: block;
text-indent: 5px;
border: 0 solid #918d8d; /*THEME CHANGE HERE*/
border-bottom-width: 1px;
padding: 2px 0;
text-decoration: none;
color: #333;
text-align: left;
}

* html .dropmenudiv_b a{ /*IE only hack*/
width:100%
}

.dropmenudiv_b a:hover{ /*THEME CHANGE HERE*/
/* background-color:#ffcc00; */
background-color:#D9CFD4;
color:#333;


}

.ddcolortabsline{
clear: both;
padding: 0;
/*width: 923px;*/
width:100%;
height: 3px;
line-height: 8px;
background: #D9CFD4;
border-top: 0px solid #fff; /*Remove this to remove border between bar and tabs*/
}

#menu_outerBlock{
	margin-top:-24px;
	
}