@CHARSET "ISO-8859-1";

body{
	line-height: 1.5;
	font-family: arial;
	font-size:12px;
	
}

@media only screen 
and (min-width : 1024px){
	
	/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
	
#footer{
	/* margin-top: 5%; */
	/* border:1px solid #ff0000; */
	

	}
.footerClass {
    background-color: #ffffff;
    border-top: 2px solid #d0d0d0;
    float: left;
    /* margin-top: 8px; */
    width: 100%;
    font-size: 9px;
}
	
#text2 {
    text-align: right;
    width: 6%;
}

#text1 {
    width: 70%;
}

#text3 {
    width: 6%;
}

.welcomeName
{
	font-family: verdana ;
	font-size:11px;
	font-weight:bold;
	color:#333;
	
}

#logout{ /*Hemant - 30102014*/
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
	color:#06F;
	float:left;
	/* margin-top:5px; */ /* commented by shweta */
	margin-left:5px;
	}
	
#logout a:link{
	text-decoration: none;
	padding-bottom: 2px; 
	color:#99ccff;
	font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
	
}
#logout a:visited {
	text-decoration: none;
	color:#99ccff;
	font-family: Verdana, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}

#logout a:hover {
	color:#09F;
	text-decoration:underline;	
	/*border-bottom-color: #99ccff;*/
	font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}	

.bluetabs li a{
/* text-decoration: none;
padding: 3px 10px;
 padding: 5px 13px;
margin-right: 3px;
border: 1px solid #9c6a15;
color: #FFFFFF;
background: #ffcc00 url(media/bluetab.gif) top left repeat-x; THEME CHANGE HERE
background-color: #006599; */

  background-color: #e5e5e5;
    border: 1px solid #ccc;
    color: #333;
    margin-right: 3px;
    padding: 5px 13px;
    text-decoration: none;


}

.bluetabs{
/* border-bottom: 1px solid #996600; */
float:right;
margin-right: 100px;
 height: 25px;

}
.bluetabs ul{
padding: 3px 0;
margin-right: 12px;
margin-top: 1px;
margin-bottom: 0;
font: bold 11px "Arial";
list-style-type: none;
text-align: right; /*set to left, center, or right to align the menu as desired*/
}

#welcomeUser{
	float: right;
}

.block_split1 {
	width: 30%;
	margin-right: 0.5%;
	margin-top: -0.85%;
	background:#f9f9f9;
	margin-left: -2px; /* added by shweta */
	padding: 10px;
	height: 200px;
	max-height: 300px;
	cursor: pointer;
	text-align:center;
	overflow-y: auto;
	display: inline-block;
}
#rightDiv_RAM{
    background-color: inherit;
    border: 1px solid #ccc;
    float: left;
    height: 200px;
    margin-left: -1.55%;
    margin-top: 1.15%;
    width: 69%;
}

/*dashboard accordian 4 right div starts*/
.ac-4_rightDiv{
    background-color: inherit !important;

    border: 1px solid #ccc !important;

    float: left !important;

    height: 212px !important;

    margin-left: -1.55%;

    margin-top: -0.4% !important;

    width: 69.5% !important;


}
/*dashboard accordian 4 right div ends*/

/* dashboard split 3 starts*/

.ac-1_split3_1 {
	width: 97.6%;
	float:left;
	display: inline-block;
	position: relative;
	/* background: #F5980D; */
	padding: 16px;
	color: #000;
	margin-top:0.5%;
}
.ac-1_headerstrips{
	background-color: #ebebeb;
}
 .ac-1_split3_1_heading{
	 background-color: #3c75b8; /* #3c75b8; */
	 color:#FFF;
} 
.ac-1_split3_1_separatorGrayLine {
    border-bottom: 1px solid #eee;
    height: 6px;
    margin-left: 1%;
}
.ac-1_split3_3_header{
	 background-color: #fef2d9;
    border: 1px solid #eee;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
}
.ac-1_split3_2{
  color: #000;
    display: inline-block;
    float: left;
    margin-left: 6px;
    padding: 10px;
    position: relative;
    width: 97.8%;
    margin-left:3px;
}
.ac-1_split3_3{
	color: #000;
    display: inline-block;
    float: left;
    padding: 16px 16px 24px;
    position: relative;
    width: 97.6%;
}
.ac-1_split3_1 h3{
	font-size: 13px;
    font-weight: bold;
    height: 25px;
    padding-left: 5px;
    text-align: left;
}
.ac-1_split3_1 table{
	width:100%;
	background-color: inherit;
	border:1px solid #e4e4e4;
	
}
.ac-1_split3_3_table1{
	float:left;
	width:44%
	
}

.ac-1__split3_3_table2{
	
    float: left;
    width: 15%;
    margin-left:6%;
}

.ac-1__split3_3_table3{
	 
    float: left;
    margin-left: 9%;
    width: 22%;
}

.ac-1_split3_3_ColumnHeadings{
	width:100%;
	background-color: #fef2d9;
}

.ac-1_split3_3_header{
	background-color: #e4e4e4;
}

.ac-1_split3_2 h3{
	font-size: 13px;
    font-weight: bold;
    height: 25px;
    padding-left: 5px;
    text-align: left;
}
.ac-1_split3_2 table{
	width:100%;
	background-color: inherit;
	border:1px solid #e4e4e4;
	
}
.ac-1_split3_3 h3{
  font-size: 13px;
    font-weight: bold;
    height: 25px;
    padding-left: 5px;
    text-align: left;
}
.ac-1_split3_3 table{
	width:100%;
	background-color: inherit;
	border:1px solid #e4e4e4;
	
}

.ac-4_split3_1_1 {
	width: 31%;
	display: inline-block;
	position: relative;
	/*background: #F5980D;*/
	padding: 10px;
	color: #FFF;
}
.ac-4_split3_1_2{
	width: 31%;
	
	display: inline-block;
	position: relative;
	/*background: #0DA0F5;*/
	padding: 10px;
	color: #FFF;
}
.ac-4_split3_1_3{
	width: 28%;
	
	display: inline-block;
	position: relative; 
	/*background: #B0E11C;*/
	padding: 10px;
	color: #FFF;
}

.ac-4_split3_2_1{
	padding: 10px;
	 margin-left: 12.5%;
	margin-top:0.5%;
	text-align: center;
}

.ac-8_split3_1_1 {
	width: 100%;
	display: inline-block;
	position: relative;
	/*background: #F5980D;
	padding: 10px;*/
	color: #FFF;
}
.ac-8_split3_1_2{
	width: 40%;
	
	display: inline-block;
	position: relative;
	/*background: #0DA0F5;*/
	padding: 10px;
	color: #FFF;
}
.ac-8_split3_1_3{
	width: 28%;
	
	display: inline-block;
	position: relative; 
	/*background: #B0E11C;*/
	padding: 10px;
	color: #FFF;
}

.ac-8_split3_2_1{
	padding: 10px;
	 margin-left: 12.5%;
	margin-top:0.5%;
	text-align: center;
}
/* dashboard split 3 ends*/


/*accordion for cpu starts*/

/* #ac-2_rightDiv{
    background-color: inherit;
    border: 1px solid #ccc;
    float: left;
    height: 200px;
    margin-left: -1.55%;
    margin-top: 1.15%;
    width: 69%;
} */

#ac-2_rightDiv{
    background-color: inherit;
    border: 1px solid #ccc;
    float: left;
    height: 200px;
   /*  margin-left: -1.55%; */
    margin-top: 1.15%;
    width: 69%;
}


.ac-2_split3_1{
	width: 48%;
	float:left;
	display: inline-block;
	position: relative;
	
	padding: 10px;
	color: #000;
	 margin-left: 4px;
     margin-top: 0.1%;
}

.block_split2{
	
   margin-left: 17%;
    margin-top: 1%; 
	border-bottom:#e4e4e4;
	/* float:right; */
}

.block_split3{
	margin-left: 31%;
    margin-top: -15%;
	border-bottom:#e4e4e4;
	float:right;
	
}

.ac-2_table1 thead{
	/* background-color:rgba(188, 233, 255, 1); */
	background-color:#3c75b8;
	color:#FFF;
	
}

.ac-3_table1 thead{
	/* background-color:rgba(188, 233, 255, 1); */
	background-color:#3c75b8;
	color:#FFF;
	
}



.ac-table_header{
	/* background:#777 */
	text-align:left;
	height:15px;
	
	
}

#ac-2_table1{
   border: 1px solid #ccc;
    margin-top: -2.3%;
    width: 100%;
}
#ac-2_table1 th{
	/* background:#ffcc00; */
	background-color:#3c75b8;  /* #3c75b8; */
}
#ac-2_table1 td{
	border-right: 1px solid #ccc;
}
#ac-2_table1 tr{
	border-bottom: 1px solid #ccc;
}
/* #ac-2_table1 tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
} */



/*accordion for cpu ends*/

/*accordion for disk starts*/
/* #ac-3_rightDiv{
    background-color: inherit;
    border: 1px solid #ccc;
    float: left;
    height: 200px;
    margin-left: -1.55%;
    margin-top: 1.15%;
    width: 69%;
} */

#ac-3_rightDiv{
        background-color: inherit;
    border: 1px solid #ccc;
    float: right;
    height: 190px;
    margin-top: -15.5%;  /* margin-top: 1.15%; */
    width: 68.5%; /* width: 76%; */
}



/* #ac-3_split3_1{
	width: 48%;
	float:right;
	display: inline-block;
	position: relative;
	background: #F5980D;
	padding: 10px;
	color: #000;
} */

/* #ac-3_split3_1{
  color: #000 !important;
    display: inline-block !important;
    float: left !important;
    margin-top: -2.1%;
    padding: 10px !important;
    position: relative !important;
    width: 66% !important;
} */




#ac-3_table1 th{
	/* background:#ffcc00; */
	background-color: #3c75b8; /* #3c75b8; */
}
#ac-3_table1 td{
	border-right: 1px solid #ccc;
}
#ac-3_table1 tr{
	border-bottom: 1px solid #ccc;
}
/* #ac-3_table1 tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
} */

/*accordion for disk ends*/


/*Buttons*/
.rightButton{
	background-color: #f7c210;
    border: 0 none;
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    margin-top: 10px;
	
}
.buttonsRow{
	display: block;
	margin-top: 0.5%;
	float: right;
}

/*style for dialogue box in center of the page*/
.centerDialogue {
	margin-left:-10.5%;
	width:50%;
	opacity:1.0;
}


/*style for manage and add pages*/
.allMainContainer {
	/* background-color: #FFFFFF;
	float: left;
	height: 630px;
	margin-left: 8%;
	width: 1100px; */
   background-color: #ffffff;
    height: 580px;
    margin: 0 auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
   
  

    
}
.rightButton{
	background-color: #f7c210;
    border: 0 none;
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    margin-left: 0;
    margin-top: 10px;
	
}
label{
	
	font-family: 'Open Sans',sans-serif;
    font-weight: bold;
	
}

.allInnerContainer {
	/* height: 605px; */
	/* 	border: 1px solid #FF0000; */
    float: left;
    height: 470px;
    margin-left: 1%;
    padding: 0;
    width: calc(100% - 2.3%);
    
}

.topic {
	font-size: 15px;
	color: #3c75b8;/* #1579ac; */
	font-weight: bold;
	margin-top: 1%;
}

.blueBorder {
	border: 1px solid #67C7E2;
}

.itPredictInp tr td.col1 {
	margin-top: 10px;
	width: 125px;
}

.addDevice tr td.col1 {
	width: 80px;
}

.itPredictInp {
	width: 100%;
}

.itPredictInp tr td.col2 input {
	border: 1px solid #c1bdbf;
	color: #333333;
	font-size: 12px;
	height: 21px;
	width: 125px;
	margin-top: 10px;
}

/* .itPredictInp tr td.col2 select {
	border: 1px solid #67C7E2;
	color: #333333;
	font-size: 12px;
	height: 21px;
	width: 125px;
	margin-top: 10px;
} */
.itPredictInp tr td.col2 {
	color: #333333;
	font-size: 12px;
}

.itPredictInp tr td.col2 textarea {
	border: 1px solid #c1bdbf;/* #67C7E2; */
	color: #333333;
	font-size: 12px;
	height: 100px;
	width: 250px;
	margin-top: 10px;
}

.itPredictInp tr td.col3 {
	padding-top: 6px;
	width: 36px;
}




#horizontalLine {
	border: 1px solid #3c75b8;/* #99ccff; */
	margin-top: 0.1%;
}



.textAreaWidth {
	width: 125px;
	border: 1px solid #c1bdbf;
}

.buttonPosition {
	float: left;
	/* margin-top:10%; */
	margin-top: 0.1%;
}

#text1 {
	width: 70%;
}

#text2 {
	width: 6%;
	text-align: right;
}

#text3 {
	width: 6%;
}

#itLogo{
    margin-left: 4%;
    margin-top: 2px;
}

.mandatory{
	color: red;
}
.higherLabel{
	font-size: 13px;
	text-decoration: underline;
	color: #1579ac;
	
}
.selectedGroupName{
	width:13%;
}
.notificationGroups{
	width: 13%;
}
.additionEmailID{
	width:13%;
}
.thresholdFooter{
	
}

