@CHARSET "ISO-8859-1";

body{
	line-height: 1.5;
}
@media only screen 
and (min-width : 1366px){
	
#footer {
    font-family: "Open Sans",sans-serif;
    font-size: 9px;
    font-weight: normal;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.footerClass {
    background-color: #ffffff;
    border-top: 2px solid #d0d0d0;
    float: left;
    margin-top: 8px;
    width: 100%;
}

#text2 {
    text-align: right;
    width: 6%;
}

#text1 {
    width: 70%;
}

#text3 {
    width: 6%;
}

#welcomeUser{
	float:right;
}

#headerlogo{
	width:100%;
	background-image: -moz-linear-gradient(center top , #FDFDFD, #F6F5F6);
}

ul#it_navigation {
    background-color: #006599;
    color: #ffffff;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 26px;
  /*margin: -1.9% 137px 0; */
    padding: 0;
    width: 1009px;
}

.buttonClass {
 /* background-color: #ff9900;
    border: 0 none;
    color: #000;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin-left: 17%; */
    background-color: #369;
    background-image: -moz-linear-gradient(center top , #336699, #306090 48%, #24496d 52%, #274e75);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    color:#FFF;
    margin-left: 17%;
     height: 32px;
    
     
}

.buttonClass:hover {
	background-color: #FF9900;
	color: #FFF;;
}

.buttonClass_submit {
	/* background-color: #1579ac; */
	/*  background-color: #ff9900; */
	background-color: #369;
    background-image: -moz-linear-gradient(center top , #336699, #306090 48%, #24496d 52%, #274e75);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    color:#FFF;
    height: 32px;
    margin-left: 17%;
    width: 103%;
}

.buttonClass_ok {
	/* background-color: #1579ac; */
	/*  background-color: #ff9900; */
	background-color: #369;
    background-image: -moz-linear-gradient(center top , #336699, #306090 48%, #24496d 52%, #274e75);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    color:#FFF;
    height: 32px;
    margin-left: 17%;
    width: 150%;
}

.buttonClass_add_new {
	/* background-color: #1579ac; */
	/*  background-color: #ff9900; */
	background-color: #369;
    background-image: -moz-linear-gradient(center top , #336699, #306090 48%, #24496d 52%, #274e75);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    color:#FFF;
    height: 32px;
    margin-left: 17%;
    width: 10%;
}

.buttonClass_cancel {
	background-color: #b8b8b8;
	color: #fff;
	border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
   
    margin-left: 17%;
     height: 32px;
}

#nav_underline {
    border-top: 1px solid #ff9900;
    margin-top: 14px;
}

ul#it_navigation li a {
    border-right: 1px solid #2580af;
    color: #ffffff;
  /*   float: left; */
    font-family: "Open Sans",sans-serif;
    padding: 5px 7px 5px 9px;
    text-decoration: none;
}

.bluetabs li a{
/* text-decoration: none;
padding: 3px 17px;
 padding: 5px 13px;
margin-right: 3px;
border: 1px solid #9c6a15;
color: #2d2b2b;
background: #ffcc00 url(media/bluetab.gif) top left repeat-x; THEME CHANGE HERE
background-color: #006599;
color:#FFF; */

  background-color: #e5e5e5;
    border: 1px solid #ccc;
    color: #333;
    margin-right: 3px;
    padding: 5px 13px;
    text-decoration: none;

}

.bluetabs{
/* border-bottom: 1px solid #996600; */
float:right;
margin-right: 300px !important; 
 height: 25px;


}
.bluetabs ul{
padding: 3px 0;
margin-right: 12px;
margin-top: 1px;
margin-bottom: 0;
font: bold 11px "Arial";
list-style-type: none;
text-align: right; /*set to left, center, or right to align the menu as desired*/
}




ul#it_navigation li {
    display: inline;
}

#it_nav_container{
	border:1px solid #ff0000;
}		
	
.submenu
{
	
	border:1px solid #ff0000;
}

.welcomeName
{
	font-family: verdana ;
	font-size:11px;
	font-weight:bold;
	color:#333;
	
}

#logout{ /*Hemant - 30102014*/
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
	color:#06F;
	float:left;
	/* margin-top:5px; */ /* commented by shweta */
	margin-left:5px;
	}
	
#logout a:link{
	text-decoration: none;
	padding-bottom: 2px; 
	color:#99ccff;
	font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
	
}
#logout a:visited {
	text-decoration: none;
	color:#99ccff;
	font-family: Verdana, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}

#logout a:hover {
	color:#09F;
	text-decoration:underline;	
	/*border-bottom-color: #99ccff;*/
	font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}	
.block_split1{
	 background: none repeat scroll 0 0 #f9f9f9;
    cursor: pointer;
     float: left; 
    height: 200px;
    margin-left: -1.5%;
    margin-right: 1.85%;
    margin-top: -0.85%;
    max-height: 300px;
    padding: 10px;
    width: 30%;
    text-align:center;
    overflow-y: auto;
}
#rightDiv_RAM{
   background-color: inherit !important;
    border: 1px solid #ccc !important;
    float: left !important;
    height: 200px !important;
    margin-left: 7.2%;
    margin-top: 0.6% !important;
    width: 69% !important;
}

/*dashboard accordian 4 right div starts*/
#ac-4_rightDiv{
   background-color: inherit !important;

    border: 1px solid #ccc !important;

    float: left !important;

    height: 212px !important;

    margin-left: -1.55%;

    margin-top: -0.4% !important;

    width: 69.5% !important;


}
/*dashboard accordian 4 right div ends*/

/* dashboard split 3 starts*/

.ac-1_split3_1 {
	width: 97.6%;
	float:left;
	display: inline-block;
	position: relative;
	/* background: #F5980D; */
	padding: 16px;
	color: #000;
	margin-top:0.5%;
}
.ac-1_headerstrips{
	background-color: #ebebeb;
}
.ac-1_split3_1_heading{
	 background-color: #3c75b8; /* #3c75b8; */
}
#ac-1_split3_1_separatorGrayLine {
    border-bottom: 1px solid #eee;
    height: 6px;
    margin-left: 1%;
}
.ac-1_split3_2{
	  color: #000;
    display: inline-block;
    float: left;
    margin-left: 6px;
    padding: 10px;
    position: relative;
    width: 97.8%;
    margin-left:3px;
}
.ac-1_split3_3_header{
	 background-color: #fef2d9;
    border: 1px solid #eee;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
}
}
.ac-1_split3_3_table1{
	float:left;
	width:44%
	
}

.ac-1__split3_3_table2{
	
    float: left;
    width: 15%;
     margin-left:6%;
}

.ac-1__split3_3_table3{
	 
    float: left;
    margin-left: 9%;
    width: 22%;
}


.ac-1_split3_3{
	color: #000;
    display: inline-block;
    float: left;
    padding: 16px 16px 24px;
    position: relative;
    width: 97.6%;
}
.ac-1_split3_1 h3{
	font-size: 13px;
    font-weight: bold;
    height: 25px;
    padding-left: 5px;
    text-align: left;
}
.ac-1_split3_1 table{
	width:100%;
	background-color: inherit;
	border:1px solid #e4e4e4;
	
}
.ac-1_split3_2 h3{
	font-size: 13px;
    font-weight: bold;
    height: 25px;
    padding-left: 5px;
    text-align: left;
}
.ac-1_split3_2 table{
	width:100%;
	background-color: inherit;
	border:1px solid #e4e4e4;
	
}
.ac-1_split3_3 h3{
	font-size: 13px;
    font-weight: bold;
    height: 25px;
    padding-left: 5px;
    text-align: left;
}
.ac-1_split3_3 table{
	width:100%;
	background-color: inherit;
	border:1px solid #e4e4e4;
	
}




.ac-4_split3_1_1 {
	width: 31%;
	
	display: inline-block;
	position: relative;
	/*background: #F5980D;*/
	padding: 10px;
	color: #FFF;
}
.ac-4_split3_1_2{
	width: 25%;
	
	display: inline-block;
	position: relative;
	/*background: #0DA0F5;*/
	padding: 10px;
	color: #FFF;
}
.ac-4_split3_1_3{
	width: 28%;
	
	display: inline-block;
	position: relative; 
	/*background: #B0E11C;*/
	padding: 10px;
	color: #FFF;
}
.ac-4_split3_2_1{
	padding: 10px;
	 margin-left: 12.5%;
	margin-top:0.5%;
	text-align: center;
}

.ac-8_split3_1_1 {
	width: 49%;
	
	display: inline-block;
	position: relative;
	/*background: #F5980D;*/
	padding: 10px;
	color: #FFF;
}
.ac-8_split3_1_2{
	width: 40%;
	
	display: inline-block;
	position: relative;
	/*background: #0DA0F5;*/
	padding: 10px;
	color: #FFF;
}
.ac-8_split3_1_3{
	width: 28%;
	
	display: inline-block;
	position: relative; 
	/*background: #B0E11C;*/
	padding: 10px;
	color: #FFF;
}
.ac-8_split3_2_1{
	padding: 10px;
	 margin-left: 12.5%;
	margin-top:0.5%;
	text-align: center;
}
/* dashboard split 3 ends*/

/*Buttons*/
.rightButton{
	background-color: #f7c210;
    border: 0 none;
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    margin-top: 10px;
	
}
.buttonsRow{
	display: block;
	margin-top: 0.5%;
	float: right;
}








/*accordion for cpu starts*/

/* #ac-2_rightDiv{
   background-color: inherit !important;
    border: 1px solid #ccc !important;
    float: left !important;
    height: 200px !important;
    margin-left: 7.2%;
    margin-top: -0.4% !important;
    width: 69.5% !important;
} */

#ac-2_rightDiv{
   background-color: inherit !important;
    border: 1px solid #ccc !important;
    float: right !important;
    height: 200px !important;
    margin-left: 11%;
    margin-top: -15.6% !important; /*  -1.15 */
    width: 68.5% !important;  /*  78% */
}

.ac-2_split3_1{
	width: 48%  !important;
	float:left  !important;
	display: inline-block  !important;
	position: relative  !important;
	
	padding: 10px  !important;
	color: #000  !important;
	 margin-left: 4px;
    margin-top: 0.1%;
}



.ac-table_header{
	/* background:#777; */
	height:15px;
	text-align:left;
}
.block_split2{
	
    margin-left: 17%;
    margin-top: 1%; 
	border-bottom:#e4e4e4;
	/* float:right; */
}
.block_split3{
	margin-left: 31%;
    margin-top: -15%;
	border-bottom:#e4e4e4;
	float:right;
	
}

.ac-2_table1 thead{
	background-color:rgba(188, 233, 255, 1);
}

.ac-3_table1 thead{
	background-color:rgba(188, 233, 255, 1);
}


#ac-2_table1{
   border: 1px solid #ccc;
    margin-top: -2.3%;
    width: 100%;
}
#ac-2_table1 th{
	/* background:#ffcc00; */
	background-color: #3c75b8;/*  #3c75b8; */
}
#ac-2_table1 td{
	border-right: 1px solid #ccc;
}
#ac-2_table1 tr{
	border-bottom: 1px solid #ccc;
}


/*accordion for cpu ends*/













/*accordion for disk starts*/
/* #ac-3_rightDiv{
   background-color: inherit !important;
    border: 1px solid #ccc !important;
    float: left !important;
    height: 200px !important;
    margin-left: 7.2%;
    margin-top: -0.4% !important;
    width: 69.5% !important;
} */

#ac-3_rightDiv{
    background-color: inherit;
    border: 1px solid #ccc;
    float: left;
    height: 200px;
   margin-left: 11%;
    margin-top: 1.15%;
    width: 76%;
}

/* #ac-3_split3_1{
	width: 48%  !important;
	float:right  !important;
	display: inline-block  !important;
	position: relative  !important;
	background: #F5980D  !important;
	padding: 10px  !important;
	color: #FFF  !important;
} */
/* #ac-3_split3_1{
  color: #000 !important;
    display: inline-block !important;
    float: left !important;
    margin-top: -2.1%;
    padding: 10px !important;
    position: relative !important;
    width: 66% !important;
} */

#ac-3_table1 th{
	/* background:#ffcc00; */
	background-color: #3c75b8; /* #3c75b8; */
}

/*accordion for disk ends*/

}


.nano .nano-pane {
    background: none repeat scroll 0 0 #555;
    border: 1px solid #ff0000;
    margin: 5px;
    right: 1px;
    width: 8px;
}


/*style for dialogue box in center of the page*/
.centerDialogue {
	margin-left:-10.5%;
	width:50%;
	opacity:1.0;
}

/*style for manage and add pages*/
.allMainContainer {
	/* background-color: #FFFFFF;
	float: left;
	height: 630px;
	margin-left: 8%;
	width: 1100px; */
   background-color: #ffffff;
    height: 580px;
    margin: 0 auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
   
  

    
}
.rightButton{
	background-color: #f7c210;
    border: 0 none;
    font-family: verdana;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    margin-left: 0;
    margin-top: 10px;
	
}
label{
	
	font-family: 'Open Sans',sans-serif;
    font-weight: bold;
	
}

.allInnerContainer {
	/* height: 605px; */
	/* 	border: 1px solid #FF0000; */
    float: left;
    height: 470px;
    margin-left: 1%;
    padding: 0;
    width: calc(100% - 2.3%);
    
}

.topic {
	font-size: 15px;
	color: #1579ac;
	font-weight: bold;
	margin-top: 1%;
}

.blueBorder {
	border: 1px solid #67C7E2;
}

.itPredictInp tr td.col1 {
	margin-top: 10px;
	width: 125px;
}

.addDevice tr td.col1 {
	width: 80px;
}

.itPredictInp {
	width: 100%;
}

.itPredictInp tr td.col2 input {
	border: 1px solid #c1bdbf;
	color: #333333;
	font-size: 12px;
	height: 21px;
	width: 125px;
	margin-top: 10px;
}

/* .itPredictInp tr td.col2 select {
	border: 1px solid #67C7E2;
	color: #333333;
	font-size: 12px;
	height: 21px;
	width: 125px;
	margin-top: 10px;
} */
.itPredictInp tr td.col2 {
	color: #333333;
	font-size: 12px;
}

.itPredictInp tr td.col2 textarea {
	border: 1px solid #c1bdbf
	color: #333333;
	font-size: 12px;
	height: 100px;
	width: 250px;
	margin-top: 10px;
}

.itPredictInp tr td.col3 {
	padding-top: 6px;
	width: 36px;
}




#horizontalLine {
	border: 1px solid #3c75b8;/*  #99ccff; */
	margin-top: 0.1%;
}



.textAreaWidth {
	width: 125px;
	border: 1px solid #67C7E2;
}

.textAreaWidth1 {
	width: 150px;
	border: 1px solid #67C7E2;
}

.buttonPosition {
	float: left;
	/* margin-top:10%; */
	margin-top: -0.8%;
}





#text1 {
	width: 70%;
}

#text2 {
	width: 6%;
	text-align: right;
}

#text3 {
	width: 6%;
}

.mandatory{
	color: red;
}

/* .grid_manageDevice{
	margin-left: 12% !important;
    margin-top: 5%  !important;
} */
.grid_manageDeviceNew{
margin-top: 5%;
}
.higherLabel{
	font-size: 13px;
	text-decoration: underline;
	color: #1579ac;
	
	
}
.selectedGroupName{
	width:13%;
}
.notificationGroups{
	width: 13%;
}
.additionEmailID{
	width:13%;
}

.selectedSequence {
    background-color: grey;
    color: #FFF;
}