@charset "utf-8";
/* CSS Document */

/* .logo{
	padding-top:5px;
	padding-left:0px;
	background-image:url(../images/l&T_logo.jpg);
	height:85px;
	background-repeat:no-repeat;
}

.rupee_rain_logo{
	padding-top:5px;
	padding-right:0px;
	background-image:url(../images/rupee_rain_logo.jpg);
	height:85px;
	background-repeat:no-repeat;
}

17082010 -- starts
.middleImage{
	background-image:url(../images/middle_image.jpg);
	height:215px;
	width:923px;
	background-repeat:no-repeat;
}

.takeyourBusiness{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
	color:#FFF;
	padding-left:20px;
	text-align:left;
	padding-top:25px;
}

.try_free_btn{
	background-image:url(../images/try_free_btn.jpg);
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	align:left;
	margin-left:65px;
	margin-top:80px;
	cursor:pointer;
}

17082010 ends

.biggradient{
	background-image:url(../images/big_gradient.jpg);
	background-repeat:no-repeat;
	height:221px;
}

.biggradient_readmore{
	background-image:url(../images/big_gradient_readmore.jpg);
	background-repeat:no-repeat;
	height:524px;
	
	}
	
.biggradient_contactus{
	background-image:url(../images/big_gradient_contactus.jpg);
	background-repeat:no-repeat;
	height:401px;
	
	}
	
	
	

.content1text_readmore{
	font-family:Trebuchet MS;
	font-size:11px;
	_margin-top:0px;
	margin-top:10px;
	padding-left:20px;   
}

.readmore_links{
	margin-bottom:300px;
   _margin-bottom:400px;
	padding-left:10px;
	margin-left:10px;   
	}


.contactus_text{
	font-family:Trebuchet MS;
	font-size:11px;
	_margin-top:0px;
	margin-top:0px;
	padding-left:20px;   
	_padding-left:20px; 
}

.contactus_links{
	margin-bottom:365px;
   _margin-bottom:500px;
	padding-left:2px;
	margin-left:2px;   
	}
	
.contactus_links_test{
	margin-bottom:260px;
 
	padding-left:2px;
	margin-left:2px;   
	}

.company_links{
	margin-bottom:170px;
   _margin-bottom:0px;
	padding-left:2px;
	margin-left:2px;   
	}


.content{
	padding-left:5px;
}

.content1text{
	font-family:Trebuchet MS;
	font-size:11px;
	padding-left:15px;
}

.screenshot{
	padding-left:5px;
}
	
.sqrgradient1{
	background-image:url(../images/sqr_gradient.jpg);
	background-repeat:no-repeat;
	height:196px;
	width:310px;
	padding-left:5px;
}

.sqrgradient1_text{	
	font-family:Trebuchet MS;
	font-size:11px;
	padding-left:20px;
	margin-bottom:30px;
    padding-top:1px;
}

.sqrgradient01{
	background-image:url(../images/sqr_gradient01.jpg);
	background-repeat:no-repeat;
	height:196px;
	width:310px;
}	

.sqrgradient02{
	background-image:url(../images/sqr_gradient02.jpg);
	background-repeat:no-repeat;
	height:196px;
	width:310px;
}	

.footer{	
	font-family:Trebuchet MS;
	font-size:11px;
	margin-right:1px;	  
}

.submit_btn{
	background-image:url(../images/submit_btn.jpg);
	background-repeat:no-repeat;
	width:110px;
	height:28px;
	border:thin #F90;
	font-family:Trebuchet MS;
	font-size:12px;
	font-weight:bold;
} */