@CHARSET "ISO-8859-1";

.col-md-10 {
    width: 104.333333%;
}

    #query_container {
    align:left;
	width:50%;
   height:80%;
	}
	
	#main_container {
	height:80%;
	width:50%;
	}
	
	#div_collections
	{
	    margin-left: 30%;
        margin-top: -2%;
        max-height: 300px;
        max-width: 450px;
	/*  border-radius: 25px; */
    border: 2px solid #D8D8D8;  
   overflow:scroll;
  width: 450px;
    height: 300px;
    /* height:auto;
 */   
	}
	
	#div_schema
	{
	/*  border-radius: 25px; */
    border: 2px solid #D8D8D8;
    max-height: 300px;
    max-width: 450px;
    height: 300px;
   overflow:scroll;
    width:450px; 
        margin-top:-28%;
    margin-left:75%;
   }
	
	tr.border_bottom td {
  	border-radius: 25px;
    border-bottom: 2px solid #3c75b8;
    padding: 10px; 
	}
	
	#result_first
	{
	/* border-radius: 25px; */
	position: absolute;
    border: 2px solid #d8d8d8;
    padding: 10px; 
	overflow-y: scroll; 
	height: 500px ;
	overflow-x: scroll;
	width: 609px;
    margin-left: 5%;
    margin-top: -40px;
	}
	
	#result_second
	{
	/* border-radius: 25px; */
	
    border: 2px solid #d8d8d8;
    padding: 10px; 
	overflow-y: scroll; 
	height: 500px ;
	overflow-x: scroll; 
	width: 609px;
    margin-left: 110%;
    margin-top: -40px;
	}
	
	#result_third
	{
	border-radius: 25px;
    border: 2px solid #3c75b8;
    padding: 10px; 
	/* overflow-y: scroll; 
	height: 484px ;*/
	overflow-x: scroll; 
	 width: 300px; 
	
	}
	
#correlateOthers{
	
	margin-top: 20%;
	margin-left: -17%;
}


#alertDate{
	width:300px !important;
	}	
#alertSpace{
width:300px !important;
}
#alertLength{
width:300px !important;
}
#alertLog{
	width:300px !important;
	
	}