@CHARSET "ISO-8859-1";

/******Style for section accordians starts***********/
.ac-container {
	margin: 10px auto 30px;
	text-align: left;
	width: 99.5%;
	float: left;
	border: 1px solid #ccc;
	margin-left: 0.2%;
}
#sysHealthy{
	color: #fef2d9;
	font-size: 15px;
	text-align: center;
	margin-top:10px;
}
#mainwrapper {
	height: 535px;
}
.ac-container label {
	background-color: #3c75b8;
    background-image: url("images/custom/1366_768/plus.png");
    border-bottom: 1px solid #333;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: verdana;
    font-size: 13px;
    font-weight: normal;
    height: 30px;
    line-height: 29px;
    padding: 1px 10px;
    position: relative;
    z-index: 20;
}

.ac-container label:hover {
	background-color: #3c75b8;
	color:#FFF;
}

.ac-container input:checked+label, .ac-container input:checked+label:hover {
    background-color: #3c75b8;
    background-image: url("images/custom/1366_768/plus.png");
    border-bottom: 1px solid #333;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: verdana;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    height: 30px;
    line-height: 29px;
    padding: 1px 10px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    z-index: 20;
}

.ac-container input[type="checkbox"] {
	display: none;
}

.ac-container section {
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	max-height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
	/* added by shweta */
	/* border-bottom: 0.2px solid #ccc; */
	/* added by shweta */
}

/* .ac-container div.block_small {
	height: auto;
} */
.ac-container div.block_small div.block_split1 :hover {
	/* background-color: #CBC5C5; */  /*@author 10605659.*/
}

.ac-container section p {
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 10px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.ac-container input:checked ~ section {
	-webkit-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
}

.ac-container input:checked ~ section.ac-small {
	max-height: 1278px; /*auto*//*  1000px */
	min-height: auto;
	padding: 4px;
}

.ac-container_plus{
	height:10px;
	width:10px;
}

.ac-small{
	padding-top:2px;
}
/******Style for section accordians ends***********/

/************Style for contents in accordian sections starts*************/
.block_small {
	height: 270px;
	background-color: #FFF;
	margin-top: 0%;
	width: 100%;
	white-space: nowrap;
	overflow : auto;
}

.block_split1 {
	height: 242px;
}


.block_split1 table {
	width: 100%;
}

.block_split1 table th {
	background-color: #393939;
	color: #ffffff;
	font-size: 14px;
	/* added by shweta */
	height: 30px;
	/* added by shweta */
	padding-top: 9px;
	text-align: center;
	width: 20%;
}

.block_split3{
	width: 100%;
	margin-top: 0.5%;
	
}
.ac-4_split3_1{
	  width: 63%;
       margin-left: 16%;
       margin-top: 4.5%;
       background: #FACF36;
}
.ac-4_split3_2{
	width: 100%;
	margin-top: 0.5%;
	background: #777;
	text-align: center;
}
.ac-8_split3_1{
       width: 90%;
       margin-left: 5%; 
       margin-top: 4.5%;
       /* background: #FACF36; */
}
.ac-8_split3_2{
	width: 100%;
	margin-top: 0.5%;
	background: #777;
	text-align: center;
}
.col1{
   border: 1px solid #ccc;
    height: 71px;
    text-align: center;
    width: 33%;
    white-space: normal;
}
.col2{
   border: 1px solid #ccc;
    height: 71px;
    text-align: center;
    width: 33%;
     white-space: normal;
}
.col3{
	border: 1px solid #ccc;
    height: 71px;
    text-align: center;
    width: 33%;
     white-space: normal;
}
.ac-2_col1{
	 border: 1px solid #ccc;
    height: 155px;
    text-align: center;
    width: 33%;
}
.ac-2_col2{
	   border: 1px solid #ccc;
    height: 155px;
    text-align: center;
    width: 33%;
}
.ac-2_col3{
	   border: 1px solid #ccc;
    height: 155px;
    text-align: center;
    width: 33%;
}
.ac-2_column1{
	 border: 1px solid #ccc;
    height: 155px;
    text-align: center;
    width: 33%;
}
.ac-3_col1{
	height:auto;
	border: 1px solid #ccc;
	text-align: center;
    width: auto;
}

.ac-3_col2{
	height:auto;
	border: 1px solid #ccc;
	text-align: center;
    width: auto;
}
.ac-3_col3{
	height:auto;
	border: 1px solid #ccc;
	text-align: center;
    width: auto;
}
.ac-3_col4{
	height:auto;
	border: 1px solid #ccc;
	text-align: center;
    width: auto;
}
.ac-5_col1{
	height:auto;
	border: 1px solid #ccc;
	text-align: center;
    width: auto;
}
.ac-5_col2{
	height:auto;
	border: 1px solid #ccc;
	text-align: center;
    width: auto;
}
.ac-5_col3{
	height:auto;
	border: 1px solid #ccc;
	text-align: center;
    width: auto;
}
#ac5-split1_scrollable{
	  height: 165px;
    overflow-x: hidden;
    overflow-y: auto;
     border: 1px solid #ccc;
}
.ac-5_ScrollableBox_col2{
    height: 155px;
    text-align: center;
    width: 33%;
}

.scrollbar{
    float: left;
    height: 300px;
    margin-left: 3px;
    margin-top: -1px;
    overflow-y: scroll;
    width: 98.3%;
}

#ac5-split1_scrollable::-webkit-scrollbar{
width:16px;
background-color:#cccccc;
}
#ac5-split1_scrollable::-webkit-scrollbar-thumb{
background-color:#B03C3F;
border-radius:10px;
}
#ac5-split1_scrollable::-webkit-scrollbar-thumb:hover{
background-color:#BF4649;
border:1px solid #333333;
}
#ac5-split1_scrollable::-webkit-scrollbar-thumb:active{
background-color:#A6393D;
border:1px solid #333333;
}  

#ac-3_table1{
    width: 100%;
    margin-top: -2.3%;
    border: 1px solid #ccc;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-scrollbar
}

#ac-5_split1_innerContent{
	height:auto;
}

#ac-2_split1_header_label{
    color: #fff;
}

.ac-5_split1_table_service{
	text-align:center;
	font-size: 13px;
    font-weight: bold;
}
.ac-6_split1_table_content{
	text-align:center;
	font-size: 13px;
   
}
ac-4_split1.column1.header{
	height:auto;
	border: 1px solid #ccc;
	text-align: center;
    width: auto;
}
ac-4_split1.column2.header{
	height:auto;
	border: 1px solid #ccc;
	text-align: center;
    width: auto;
}

/* START - Added by Sayali for Scrollbar in FileSystem for Linux Disk */
.block_split3_divForTable{
min-height:auto;
max-height:500px;
overflow-y:auto;
overflow-x: auto;
min-width:35%;
max-width:46%;
}
/* END - Added by Sayali for Scrollbar in FileSystem for Linux Disk */

.alertdatetime {
	font-size: 10px;
	color: #ffffff;
}

#oracle_alert {
-webkit-animation-name: blinker;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;

-moz-animation-name: blinker;
-moz-animation-duration: 1s;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;

 animation-name: blinker;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;

}

@-moz-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@-webkit-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

/************Style for contents in accordian sections ends*************/

/*********Style for dashboard charts begins************/

#totalmachines {
    width: 15%;
    margin-top:50px;
    margin-left:80px;
    float : left;
    align-content: stretch;
    text-align: center;   
}

.tmvalueclass{
	width:35%;
	padding: 10px;
	float : left;
	background-color:#ace1e8;
	text-align : center;
	font-size: 14px;
	font-weight: bold;
}
.tmtextclass{
	width:65%;
	padding: 10px;
	float : left;
	background-color:#cfedf1;
	text-align : center;
	font-size: 14px;
	font-weight: bold;
}

#windowsmachines {
    width: 15%;
    margin-top:50px;
  	margin-left:30px;
    float : left;
    text-align: center;   
}

.wmvalueclass{
	width:35%;
	padding: 10px;
	float : left;
	background-color:#c1c1e1;
	text-align : center;
	font-size: 14px;
	font-weight: bold;
}
.wmtextclass{
	width:65%;
	padding: 10px;
	float : left;
	background-color:#ddddee;
	text-align : center;
	font-size: 14px;
	font-weight: bold;
}

#linuxmachines {
    width: 15%;
    margin-top:50px;
  	margin-left:30px;
    float : left;
    text-align: center;   
}
#criticalalerts{
    width: 15%;
    margin-top:50px;
  	margin-left:30px;
    float : left;
    text-align: center;
       
}

 .cavaluesclass{
	width:35%;
	padding: 10px;
	float : left;
	background-color:#ffc2a6;
	text-align : center;
	font-size: 14px;
	font-weight: bold;
}
.catextclass{
	width:65%;
	padding: 10px;
	float : left;
	background-color:#ffddcc;
	text-align : center;
	font-size: 14px;
	font-weight: bold;
} 

#warningalerts{
    width: 15%;
    margin-top:50px;
  	margin-left:30px;
    float : left;
    text-align: center;   
}

.wavaluesclass{
	width:35%;
	padding: 10px;
	float : left;
	background-color:#f3eeaf;
	text-align : center;
	font-size: 14px;
	font-weight: bold;
}
.watextclass{
	width:65%;
	padding: 10px;
	float : left;
	background-color:#f8f4d1;
	text-align : center;
	font-size: 14px;
	font-weight: bold;
}

/*********Style for dashboard charts ends************/

