@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
	width: 100%;
}

.page-header {
	margin-top: 0px; 
	margin-bottom : 0px;
	/* padding-top: 5px; */
	background-image: url('./../../../images/custom/1366_768/Picture2.png');
	font-size: 12px;
	font-weight: bold;
	height: 58px;
}

#itLogo { 
	margin-left: 0px;
	margin-top: 0px;
	height: 58px;
}

#welcomeUser{
	float: right;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    font-weight:bold;
    font-size: 12px;
    height: 30px;
}

.navbar {
	min-height:0px !important;
	margin-bottom: 10px;
	margin-top: 0px;
}

.footerClass {
    float: left;
    font-size: 11px;
    width: 100%
}

.navbar-fixed-bottom {
	background-color: grey;
	bottom: 0px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
}

.abc {
	text-overflow: ellipsis;
}

.alert{
	text-align: center;
	font-weight: bold;
}

.form-control{
	width: 100%;
	height: 25px;
	padding: 2px 6px;
} 

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding-left: 4px;
  padding-top: 4px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.panel-heading { 
	padding: 5px 15px;
	font-weight: bold;
}

#result_grid {
	height: auto;
	overflow:auto;
}

.innerContainer {
	height: calc(90% - 62px);
}

.btn-primary{
	background-image: none;
	background-color: grey;
}

.btn-primary:focus, .btn-primary:hover {
	background-image: none;
	background-color: black;
}
.text-style{
	font-size: 11px !important;
	font-family: sans-serif !important;
}

.more-less {
		float: right;
		color: #212121;
}

.container-fluid {
	padding-right: 5px;
	padding-left: 5px;
}

