#deviceDetails {
	float: left;
	/* height: 100%; */
	width: 100%;
	margin-left: 0 0 0 0;
	/* border:1px solid red; */
	 margin-top: -1.1%;
}

#add_device_buttons {
	/* border:1px solid red; */
	/* height: 100%; */
	width: 80%;
}

.submitClass {
	font-family: Trebuchet-MS;
	font-size: 15px;
	font-weight: bold;
	color: #1579ac;
}

#addDevice {
	height: 100%;
	width: 100%;
}