 .allMainContainerForThreshold {
	background-color: #FFFFFF;
	float: left;
	height: 630px;
	margin-left: 8%;
	width: 1100px;
   background-color: #ffffff;
    height: 647px;
    margin: 0 auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.list_measure {
	display: inline;
	list-style-type: none;
	height: 75px;
	width: 250px;
	border: 1px solid #67C7E2;
	-moz-border-radius:8px;
}

.list_measure li:hover {
	background: #cadeea;
}

.list_measure li {
	padding: 10px;
	border: 0.5px solid;
	border-color: black;
	margin: 5px;
}

.btnLi {
	text-decoration: none;
	list-style: none;
	 margin-left: -50%;
	
}
#thresHoldDetails{
	float:left;
	height:100%;
	width:100%;
	margin-left: 0 0 0 0;
	margin-top: -2.9%;
}
#grp_notification_selected
{
	height:122px;
	margin-top: -23px;

}
.separatorLineForManageThreshold
{
	border-bottom: 1px solid #eee;
    height: 27px;
    margin-left: 1%;
}
.footerClassForManageThreshold {
	border-top: 1px solid #d0d0d0;
	float: left;
	height: 23px;
	width: 100%;
	margin-top:50px;
	background-color: #ffffff;
}
.buttonPosition {
	float: left;
	margin-top:-6px;
}
.higherLabel{
	font-size: 13px;
	text-decoration: underline;
	
}
.selectedGroupName{
	width:10px;
}


#threshold_group_name{
	width:2%;
	border:1px solid #ff0000;
}

#secondTdWith{
	width:50%;
}
 