@CHARSET "ISO-8859-1";

body {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}

.varMainContainer {
	background-color: #ffffff;
	height: 500px;
	margin: 0 auto;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

.ac-container {
	overflow-y: hidden;
}

#split1 {
	border: 1px solid #d0d0d0;
	height: 200px;
	margin-top: 5px;
	width: 22%;
	float: left;
	margin-left: 7px;
}

.split_1_heading {
	/* background-color: #3c75b8; 
 */
	background-color: #373737;
	color: #fff; height : 27px;
	width: 100%;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 8px;
	height: 27px;
}

.split1_radio_buttons_box {
	float: left;
	font-size: 13px;
	height: 200px;
	margin-left: 16px;
	margin-top: 10px;
}

.split1_radio_buttons_box :checked+label {
	font-weight: bold;
}

#split1_panel {
	width: 100%;
	padding-top: 15px;
}

#split1_panel table {
	padding: 5px;
	border-spacing: 5px;
}

#split1_panel table th {
	font-family: Arial;
	font-size: 12px;
	padding: 5px;
}

#split1_panel input[type="text"] {
	border: 1px solid #7A7A7A;
	color: #333333;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	height: 18px;
	margin-left: 4px;
	margin-top: 5px;
	padding-left: 5px;
	padding-top: 3px;
	width: 170px;
}

/* .split1_section_button_Go {
	background-color: #808080;
		
} */

.split1_section_button_Go{
	background-image: none;
	background-color: grey;
	color: #fff;
	float: right;
	margin-right: 8%;
	margin-bottom: 10%;
}

.split1_section_button_Go:focus, .split1_section_button_Go:hover {
	background-image: none;
	background-color: black;
}

#split1_submit {
	margin-top: 20%;
}

.small_text {
	color: #ff8000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 9px;
}

#split2_section_responseTime {
	float: left;
	height: 307px;
	margin-left: 0.5%;
	margin-top: 0.4%;
	width: 73.5%;
}

#split2_section_responseTimeGraphContainer {
	border: 1px solid #d0d0d0;
	height: 263px;
	width: 99.8%;
}

#split2_section_pageSelectioncontainer {
	border: 1px solid #d0d0d0;
	height: 44px;
	padding-left: 10px;
	padding-top: 13px;
	width: 99.8%;
}

.split2_section_button_search {
	/*  background-color: #006599;
	 	 color:#FFF; */
/* 	background-color: grey;
	background-image: -moz-linear-gradient(center top, #336699, #306090 48%, #24496d 52%,
		#274e75);
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	color: #FFF;
	 */
	background-image: none;
	background-color: grey;
	color: #fff;
}

.split2_section_button_Go {
	/* background-color: #f7c210;
	height: 24px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	padding: 2px */
	background-image: none;
	background-color: grey;
	color: #fff;
}

.split2_section_button_search:focus, .split2_section_button_search:hover,
.split2_section_button_Go:focus, .split2_section_button_Go:hover {
	background-image: none;
	background-color: black;
}

.split2_section_button_reset {
	background-color: #f7f7f7;
			/* height: 24px;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		padding: 2px */
}


.split2_section_button_correlate {
	background-color: #006599;
	color: #FFF;
	height: 30px;
}

.split2_section_button_showRelatedVariables {
	/* 	 background-color: #006599;*/
	background-color: #808080;
	background-image: -moz-linear-gradient(center top, #336699, #306090 48%, #24496d 52%,
		#274e75);
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	color: #FFF;
	height: 30px;
	
}

.split2_section_button_prediction {
	background-color: #808080;
	color : #FFF;
	height: 30px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	
}

.split2_section_button_showRelatedVariables:focus, .split2_section_button_showRelatedVariables:hover,
.split2_section_button_prediction:focus, .split2_section_button_prediction:hover {
	background-image: none;
	background-color: black;
}

#split2_section_correlation_buttons {
	float: left;
	height: 30px;
	margin-left: 73%;
	width: 36.5%;
}

.split2_section_pageURL {
	width: 25%;
}

#split3_section_CorrelatedGraphs {
	border: 1px solid #d0d0d0;
	float: left;
	height: 687px;
	margin-top: 5%;
	margin-bottom: 3%;
	width: 50%;
}

.split3_section_CorrelatedGraph_1 {
	border: 1px solid #d0d0d0;
	float: left;
	height: 302px;
	width: 98%;
}

.split3_section_CorrelatedGraph_2 {
	border: 1px solid #d0d0d0;
	float: left;
	height: 302px;
	margin-top: 3%;
	width: 98%;
}

/* .split3_section_CorrelatedGraph_3 {
	border: 1px solid #d0d0d0;
	float: left;
	height: 302px;
	margin-top: 3%;
	width: 98%;
} */

#split3_section_PredictionGraphs {
	border: 1px solid #d0d0d0;
	float: left;
	height: 343px;
	margin-top: 5%;
	width: 50%;
	/* margin-left: 25%;*/
    margin-bottom: 3%; 
}

#split3_section_PredictionGraph {
	border: 1px solid #d0d0d0;
	float: left;
	height: 300px;
	margin-left: 1%;
	margin-top: 0;
	width: 98%;
}

#split3_section_Labels {
	/* background-color: #3c75b8; */
	background-color: #373737;
	font-size: 15px;
	font-weight: bold;
	height: 37px;
	padding-left: 8px;
	padding-top: 4px;
	color: #fff;
}

.small_text {
	color: #ff8000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 9px;
	cursor: pointer;
}
.ui-dialog-title{
	color: #fff;
	background-color: #080808;
	
}
/* .ui-dialog-titlebar, .ui-widget-header, .ui-corner-all, .ui-helper-clearfix{
	background-color: #080808;
} */
.ui-dialog-titlebar/* , .ui-widget-header, .ui-corner-all, .ui-helper-clearfix */{
	background-color: #080808;
} 

table td {
	padding-right: 10px;
}

.select_param{
	float: left;
}

